
.flex {
    width: 100%; 
    position: relative; 
    display: flex;
}
  
.buscaButton:focus{
    outline: none;
}

label{
    position: absolute;
    bottom: 105%;
    font-size:1rem; 
    color: #5f5b5b; 
    margin-left: 3%;
}

.buscaInput{
    width: 100%;
    border: 2px solid gray;
    border-right: none;
    outline: none;
    font-size: 13px;
    padding: 5px;
    height: 15px;
    border-radius: 15px 0 0 15px;
}
   
.buscaButton{
    width: 45px;
    height: 29px;
    border: 1px solid gray;
    background: gray;
    text-align: center;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 15px;
  }

.center{
    width: 50%;
    position: absolute;
}

.card-alerta{
    border: 1px solid gray;
    border-radius: 0.25rem;
    width: 100%;
    position: absolute;
    transform: translate(0, 50%);
}

/* min-width & max-width */
@media screen and (min-width: 900px) {
    
    .center{
        transform: translate(50%, 150%);
    }

    .card-alerta{
        width: 70%;
        transform: translate(20%, 50%);
    }
    
}

/* min-width & max-width */
@media screen and (min-width: 480px) and (max-width: 900px) {
    
    .center{
        transform: translate(50%, 300%);
    }
    
}

/* max device width */
@media screen and (max-width: 480px) {
    .center{
        width: 80%;
        transform: translate(13%, 300%);
    }
}

/* card-alerta -- inicio*/

.card-alerta-header {
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

.card-alerta-body {
    padding: 1rem;
  }

  /* card-alerta -- fim*/