<app-header></app-header>
<div class="center">
 
  <div class="flex">
    <label>
      Minha função é te ajudar a encontrar usuários presentes no GitHub. Use a busca abaixo para encontrar quem deseja.
    </label>
    <input type="text" name="usuario" class="buscaInput" #buscaInput>
    <button type="button" class="buscaButton" (click)="buscaUsuario(buscaInput.value)">
      <i class="fas fa-search"></i>
    </button>

    <app-usuario [dadosUsuario]="dadosUsuario" *ngIf="!alertaDados && dadosUsuario"></app-usuario>

    <div class="card-alerta" *ngIf="alertaDados">
        <div class="card-alerta-header">
            Aviso
        </div>
        <div class="card-alerta-body">
            Não existem informações do usuário para serem exibidas.
        </div>
    </div>
  </div>
</div>
<div class="center-usu">

</div>
