
.formatacao {
    width: 100%; 
    position: relative; 
    display: inline-flex;
}
  
  .buscaButton:focus{
      outline: none;
  }

/* min-width */
@media screen and (min-width: 900px) {
    
    label{
        position: absolute;
        bottom: 100%;
        font-size: 16px; 
        color: #5f5b5b; 
        margin-left: 3%;
    }

    .buscaInput{
        width: 100%;
        border: 2px solid gray;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 20px 0 0 20px;
        outline: none;
        font-size: 13px;
    }
       
    .buscaButton{
        width: 50px;
        height: 34px;
        border: 1px solid gray;
        background: gray;
        text-align: center;
        color: #fff;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        font-size: 15px;
      }
    
    .center{
        width: 50%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
    }

    .center-usu{
        width: 50%;
        position: absolute;
        left: 65%;
        top: 65%;
        transform: translate(-50%, -50%);
    }
}

/* min-width & max-width */
@media screen and (min-width: 480px) and (max-width: 900px) {
    label{
        position: absolute;
        bottom: 100%;
        font-size: 15px; 
        color: #5f5b5b; 
        margin-left: 3%;
    }

    .buscaInput{
        width: 100%;
        border: 2px solid gray;
        border-right: none;
        padding: 5px;
        height: 15px;
        border-radius: 15px 0 0 15px;
        outline: none;
        font-size: 12px;
    }

    .buscaButton{
        width: 45px;
        height: 29px;
        border: 1px solid gray;
        background: gray;
        text-align: center;
        color: #fff;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        font-size: 15px;
      }
    
    .center{
        width: 60%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
    }

    .center-usu{
        width: 50%;
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
    }
}

/* max device width */
@media screen and (max-width: 480px) {
    label{
        position: absolute;
        bottom: 100%;
        font-size: 13px; 
        color: #5f5b5b; 
        margin-left: 3%;
    }

    .buscaInput{
        width: 100%;
        border: 2px solid gray;
        border-right: none;
        padding: 5px;
        height: 15px;
        border-radius: 15px 0 0 15px;
        outline: none;
        font-size: 12px;
    }

    .buscaButton{
        width: 45px;
        height: 29px;
        border: 1px solid gray;
        background: gray;
        text-align: center;
        color: #fff;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        font-size: 15px;
      }
    
    .center{
        width: 80%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .center-usu{
        width: 70%;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}