<app-header></app-header>
<div class="center">
 
  <div class="formatacao">
    <label>
      Minha função é te ajudar a encontrar usuários presentes no GitHub. Use a busca abaixo para encontrar quem deseja.
    </label>
    <input type="text" name="usuario" class="buscaInput" #buscaInput>
    <button type="button" class="buscaButton" (click)="buscaUsuario(buscaInput.value)">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
<div class="center-usu" *ngIf="dadosUsuario">
  <app-usuario [dadosUsuario]="dadosUsuario"></app-usuario>
</div>
