<div class="card-container">
    <img [src]="dadosUsuario.avatar_url" alt="user"/>
    <div style="margin: 2px;">
        <h3>{{dadosUsuario.login}}</h3>
        <h6>{{dadosUsuario.bio}}</h6>
        <p>{{dadosUsuario.email}}</p>
    </div>
    <div class="seguidores">
        <span>Seguidores: {{dadosUsuario.followers}}</span>
        <span>Seguindo: {{dadosUsuario.following}}</span>
    </div>
    <div class="repositorios">
        <span>Repositórios</span>
        <ul>
            <li *ngIf="arrayRepos == []">Este usuário não possui repossitório</li>
            <ng-container *ngIf="arrayRepos != []">
                <li *ngFor="let repo of arrayRepos">
                    <a [href]="repo.html_url" target="_blank" rel="noopener noreferrer">{{repo.name}}</a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>