
    
h3 {
   margin: 10px 0;
}
   
h6 {
   margin: 5px 0;
}
   
p {
   font-size: 14px;
   line-height: 21px;
}
    
.card-container {
   background-color: #5f5b5b;
   border-radius: 25px;
   box-shadow: 10px 10px 15px rgb(0 0 0 / 35%);
   color: #fff;
   padding: 30px 0 0;
   position: absolute;
   width: 60%;
   text-align: center;
   overflow: hidden;
   transform: translate(-150%, 15%);
   justify-content: center;
   margin-bottom: 30px;
}
   
.card-container img {
   border: 1px solid gray;
   border-radius: 50%;
   height: 100px;
   width: 100px;
}

.seguidores {
   display: flex;
   margin: 2px;
}
   
.seguidores > span {
   -ms-flex: 1;
   flex: 1;
   font-size: 0.75rem;
}
   
.repositorios {
   background-color: rgb(73, 73, 73);
   text-align: left;
   padding: 15px;
   margin-top: 20px;
   width: 100%;
}

.repositorios span{
   margin: 0px 5px 5px 5px;
   font-size: 15px;
}
   
.repositorios ul {
   list-style-type: none;
   margin: 5px;
   padding: 0;
   overflow: auto;
   height: 80px;
}

.repositorios ul::-webkit-scrollbar {
   width: 15px;           
}

.repositorios ul::-webkit-scrollbar-track {
   background: #5f5b5b;        
   border-radius: 20px; 
}

.repositorios ul::-webkit-scrollbar-thumb {
   background-color: rgb(216, 213, 213);    
   border-radius: 20px;      
   border: 3px solid rgb(185, 184, 184); 
}
    
.repositorios ul li {
   border: 1px solid #2D2747;
   border-radius: 2px;
   display: inline-block;
   font-size: 12px;
   margin: 0 7px 7px 0;
   padding: 7px;
}

.repositorios ul li a {
   cursor: pointer;
   color: inherit;
   text-decoration: none;
} 

.repositorios ul li a:hover{
   font-weight: bold;
}

/* min-width  */
@media screen and (min-width: 900px) {
   .card-container {
      width: 50%;
   }
}

/* min-width & max-width */
@media screen and (min-width: 700px) and (max-width: 900px) {
   .card-container {
      width: 60%;
      transform: translate(-135%, 15%);
   }
}

/* max width */
@media screen and (max-width: 700px) {
   .card-container {
      width: 70%;
      transform: translate(-125%, 15%);
   }
}
